@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* D3 link */
.link {
  stroke: #999;
  stroke-width: 2px;
}

.diffClass {
  position: sticky;
  top: 0px;
  overflow: scroll;
}

.node__root > circle {
  fill: #fcc48d;
  stroke: none;
  r: 15;
}

#treeWrapper path {
  stroke: white;
}
#treeWrapper text {
  fill: white;
}
.node__branch > circle {
  fill: palevioletred;
}

.node__leaf > circle {
  fill: #fd8b18;
  stroke: none;
  r: 15;
}
.custom-width {
  width: 580px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #332930;
}

::-webkit-scrollbar-track {
  background-color: #332930;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5459;
  border-radius: 3px;
  border: 2px solid #332930;
}
